version: '3.8'

services:
  web:
    build: .
    container_name: anpr-backend
    ports:
      - "80:8000"
    volumes:
      - ./crop:/code/crop
      - ./model:/code/model
    environment:
      # Database Configuration
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      
      # Security
      - SECRET_KEY=${SECRET_KEY}
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=30
    restart: unless-stopped
    networks:
      - anpr-network

networks:
  anpr-network:
    driver: bridge
